.logo1 {
  height: 10%;
  width: 18%;
}

.logo2 {
  height: 18%;
  width: 18%;
}

.poster {
  height: 50%;
  width: 25%;
  flex-basis: 40%;
}

#poster-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#card-1 {
  height: 100%;
  border-radius: 50px;
}
